blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
ecos==2.0.14
Flask==3.0.3
idna==3.7
imageio==2.35.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lazy_loader==0.4
MarkupSafe==2.1.5
networkx==3.3
numexpr==2.10.1
numpy==2.1.0
osqp==0.6.7.post1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
qdldl==0.1.7.post4
scikit-image==0.24.0
scikit-learn==1.5.1
scikit-survival==0.23.0
scipy==1.14.1
serverless-wsgi==3.0.4
six==1.16.0
threadpoolctl==3.5.0
tifffile==2024.8.10
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
